In [1]:
tupla_elemento = 10,

tupla_elemento

(10,)

In [4]:
nova_tupla = tuple ('Teste')

nova_tupla

('T', 'e', 's', 't', 'e')

In [7]:
tupla_nomes = ('Marlene', 'Zezinho', 'Marlene','Cibele', 'Zuely')

print(tupla_nomes.count ('Marlene'))

print ( tupla_nomes.count ('Suely'))

print (tupla_nomes.count ('Zezinho'))

2
0
1

In [13]:
tupla_elemento = 1,2,2,3,4,4,4,5

print (tupla_elemento.count (4))

3

In [14]:
dicio = {'chave': 'valor'}

print (type(dicio))

<class 'dict'>

In [15]:
d = {'laranjas': 15, 'bananas': 35, 'siriguelas': 12}

d ['bananas']

35

In [23]:
d['pitomba'] = 20

len(d)

4

In [24]:
print(d)

{'laranjas': 15, 'bananas': 35, 'siriguelas': 12, 'pitomba': 20}

In [25]:
'pitomba' in d

True

In [27]:
'pears'in d

False

In [28]:
del d ['laranjas']

In [29]:
'laranja' in d

False

In [30]:
frutas = ["pinha", "oiti coró", "jaca", "tamarindo"]

In [31]:
print ([1,2] + [3,4])

[1, 2, 3, 4]

In [32]:
print (frutas + [6,7,8,9])

['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [33]:
print ([0] * 4)

[0, 0, 0, 0]

In [34]:
print ([1,2, ["oi", "tchau"]] * 2)

[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]